* {
    margin: 0;
}

body {
    display: grid;
    grid-template-areas: "header"
                         "main"
                         "footer";
    grid-template-rows: 10vh 80vh auto;
}

header, main, footer {
    padding: 0 10vh;
}

header {
    grid-area: header;
    display: flex;
    grid-template-columns: 1fr 1fr;
    max-width: 100%;
    background-color: white;
    align-items: center;
    justify-content: space-between;
}

button.add-book {
    width: 20vh;
    padding: 15px 30px;
    font-size: large;
    color: white;
    background-color: gray;
    border: none;
    border-radius: 30px;
}

main {
    grid-area: main;
    background-color: gray;
    display: grid;
    overflow-y: auto;
}

#cardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 19px;
    padding: 16px;
}

#cardContainer {
    display: flex;
    gap: 10px;
}

.card {
<<<<<<< HEAD
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 30vh;
    background-color: #fefefe;
    border: 1px solid black;
=======
    position: relative;
    width: 13vw;
    /* border: 1px solid black; */
    background-color: #fefefe;
>>>>>>> 3250cdc (Added css)
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    white-space: normal;
    word-wrap: break-word;
}

.remove-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    max-width: 500px; 
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

footer {
    grid-area: footer;
    height: 10vh;
}